
body{
    text-align: center;
}

.counter{
    text-align: center;
}

h1{
    text-align: center;
}

button{
    border: 1px solid black;
    background-color: aquamarine;
    color: black;
    border-radius: 2px;
    text-align: center;
}

#reset{
    padding: 8px 32px;
    display: block;
    margin: 0 auto;
}

#decrease, #increase{
    padding: 5px 15px;
    font-size: 2rem;
    
}

.xValue{
    margin: 25px auto;
}
